.home-container {
  padding: 20px;
  background-image: url('../../images/DashboardBackground.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Use min-height to ensure the background covers the entire viewport */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}
.home-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Align content horizontally to center */
  background-color: #1e421d;
  padding: 10px;
  color: aliceblue;
  border-radius: 8px; /* Add border-radius to the header tile container */
}

.home-logo {
  width: 100px; /* Increase the size of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 50px; /* Adjust the spacing between the logo and the title */
}

.home-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  margin-top: 20px; /* Add margin-top to create a gap between the green box and white boxes */
  overflow: hidden; /* Hide overflow to prevent scrolling */

}

.home-tile {
  display: flex;
  margin-bottom: 20px; /* Add margin-bottom for spacing between rows */
  padding: 10px;
  margin-left: 10px;
  width: 260px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.home-tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  
}

.home-tiles {
  width:40px;/* Adjust width to occupy 25% of the container's width */
  margin-bottom: 20px; /* Add margin-bottom for spacing between rows */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.home-tile a {
  display: block;
  margin: 10px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Inherit text color from parent */
}

.home-tiles a:hover {
  text-decoration: none; /* Remove underline on hover */
}
@media (max-width: 768px) {
  .home-tile {
    width: calc(50% - 20px); /* For smaller screens, occupy 50% of the container's width */
  }
}
.home-tile:hover {
  transform: translateY(-5px); /* Move tile slightly upwards on hover */
  border-radius: 10px; /* Rounded corners */
}
.home-tile:active {
  transform: translateY(1px); /* Move tile slightly upwards on hover */
  border-radius: 10px; /* Rounded corners */
}