/* TaskDataViewer.css */

.WC-task-data-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.WC-task-data-title {
    color: #4CAF50; /* Green title color */
}

.WC-task-table {
    width: 100%;
    border-collapse: collapse;
}

.WC-task-table th,
.WC-task-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.WC-task-table th {
    background-color: #4CAF50; /* Green table header background */
    color: #fff;
}

.WC-task-table td {
    vertical-align: top;
}

.WC-update-status-button,
.WC-update-status-confirm-button {
    padding: 8px 16px;
    background-color: #4CAF50; /* Green button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.WC-update-status-button:hover,
.WC-update-status-confirm-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.WC-modal {
    display: none; /* Hide modal by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.WC-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.WC-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.WC-close:hover,
.WC-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.WC-status-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

