.container1 {
    text-align: center;
    font-size: 24;
}

h1 {
    margin-bottom: 10px;
}

table {
    width: 98%;
    border-collapse: collapse;
    height: 20%;
}

th,td{
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    width:90%;
}


th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    padding: 10px;

}
/* ViewSalaryPackage.css */

/* Style for the search input field */
input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  /* Style for the table header */
  table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  /* Style for table rows */
  table td {
    padding: 10px;
  }
  
  /* Style for table actions buttons */
  table button {
    margin-right: 2px;
    padding: 4px 8px; /* Adjust the padding of the button */
  font-size: 10px; /* Adjust the font size of the button */
  width: 80px; /* Adjust the width of the button */
  height: 24px; /* Adjust the height of the button */
  }
  
