.container background-image {
    margin: 0 auto;
    max-width: 100px;
    padding: 10px;
    background-color: #96e2bf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

   
  }
  
  
  .form-group {
    margin-bottom: 10px;
    
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .container {
    max-width: 400px; /* Adjust the width as needed */
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  