.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style created by me */

/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure body covers entire viewport height */
  overflow: hidden; /* Prevents scrolling caused by the pseudo-element */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('bgmr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px); /* Adjust blur level as needed */
  z-index: -1; /* Ensures the blur is behind content */
}


/* Nav bar Styles */
.flex-container {
  display: flex;
}

.main-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
}

/* Nav bar Styles end */


/* Additional styles can be added here */
