.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E1E587; 
    padding-top: 20px;
}

.brand {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #1E421D;
}
.nav-link:hover {
    background-color: #E1E587; 
    color: #A9B523; 
}

.active {
    background-color: #A9B523; 
    color: #E1E587; 
}
/* App.css */

.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #E1E587; 
  padding-top: 20px;
}

.brand {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #1E421D;
}
.nav-link:hover {
  background-color: #f9ffb9; 
  color: #A9B523; 
}

.active {
  background-color: #A9B523; 
  color: #f9ffb9; 
}


