body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  .form-wrapper {
    width: 500px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #32CD32; /* Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #1E421D; /* Yellow */
  }
  
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  } 
  .side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E1E587; /* Updated to match specified color */
    padding-top: 20px;
}

.brand {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #1E421D; /* Updated to match specified color */
}
.nav-link:hover {
    background-color:#f9ffb9; /* Light green */
    color: #A9B523; /* Lighter shade of yellow */
}

.active {
    background-color: #A9B523; /* Lighter shade of yellow */
    color: ; /* Light green */
}









  




