.container2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:#eaf0ea; /* Light earthy background color */
  
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-top: 10px;
}

.button-container {
  background-color: #355e3b; /* Dark green color for the button container */
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; /* Adjust margin as needed */
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #97ebc8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%; /* Adjust width as needed */
  margin: 10px; /* Adjust margin as needed */
  text-decoration: none; /* Remove underline from button text */
}

.button-salary,
.button-reports,
.button-expense,
.button-sales {
  display: inline-block;
  font-weight: 400;
  color: #f7f6f6;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #0e5b2b;
  border: 1px solid #072e17;
  margin: 10px; /* Adjust margin as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  padding: 1rem 2rem; /* Adjust padding as needed */
  line-height: 1.5; /* Adjust line height as needed */
  border-radius: 1rem; /* Adjust border radius as needed */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-container {
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px; /* Adjust margin as needed */
}

.button-container .card {
  display: inline-block;
  margin: 0;
}

button:hover {
  background-color: #70d3ba;
}
