/* background.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../WCimages/manager.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    font-family: Arial, sans-serif; /* Example font */
}
